body {
	padding-top: 70px;
	padding-bottom: 70px;
	min-height: 100vh;
	position: relative;
	background-color: #F0FFFF;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

footer p {
    margin: 1em 0;
}

.navbar .dropdown-menu {
	left: unset;
	right: 0;
}

.tutut {
	margin-top: 50px;
	background-color: white;
}

.che {
	margin-left: 20px;
}



.mama {
	margin-top: 350px;
	background-color: white;
}

.ba {
	background-color: black;
}

.dede {
	margin-top: 20px;
}

.twitter-typeahead {
	vertical-align: top;
}

.tt-input, .tt-input:focus {
	border-color: transparent;
}

.tt-menu {
	margin: 12px 0;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
	color: #292f33;
}

.tt-suggestion:hover {
	cursor: pointer;
	color: #fff;
	background-color: #0097cf;
}

.list-group-item .btn.btn-sm {
	margin-top: -0.21875rem;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

